<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <link rel="stylesheet" type= "text/css" href="/delivery_bot/user/static/css/main.css">
</head>
<body>
    <p style="text-align: center">Вы заполнили анкету соискателя. Ожидайте подтверждения.</p>
</body>
</html>