<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="/delivery_bot/user/static/js/popup-actions.js"></script>
    <script src="/delivery_bot/user/static/js/collapsive.js"></script>
    <script src="/delivery_bot/user/static/js/mission-info-user.js"></script>
    <link rel="stylesheet" type= "text/css" href="/delivery_bot/user/static/css/main.css">

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <style>
      .ol-popup {
        position: absolute;
        background-color: var(--tg-theme-secondary-bg-color);
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--tg-theme-secondary-bg-color);
        bottom: 12px;
        left: -50px;
        min-width: 150px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: var(--tg-theme-secondary-bg-color);
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: var(--tg-theme-secondary-bg-color);
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      #popup-content {
          color: var(--tg-theme-text-color);
      }

    </style>
</head>
<body onload='init_map();'>
    <button type="button" class="collapsible_menu"><b>Меню</b></button>
    <div class="content_menu">
      <div class="div-menu-button"><a class="menu_button" type="button" href='/delivery_bot/user/'><b>Задания</b></a></div>
      <div class="div-menu-button"><a class="menu_button" href='/delivery_bot/user/info'>Информация</a></div>
    </div>

    <div class="text-info-user">
        <div class="text-info-container">
            <div class="name-property">Задание</div>
            <div class="value-property">
                <b><span id="name-mission">{{ name }}</span></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Заработано</div>
            <div class="value-property">
                <b><span id="reward">{{ reward }} руб.</span></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Кол-во домов</div>
            <div class="value-property">
                <b><span id="buildings">{{ buildings }}</span></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Время окончания</div>
            <div class="value-property">
                <b><span id="time-remaining">{{ time }}</span></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Статус</div>
            <div class="value-property">
                <b><span id="status-mission">{{ status }}</span></b>
            </div>
        </div>
    </div>

    <div class="manage-mission">
        {% if not expired and not end %}
        <button class="button delete-button" onclick="end_mission();">Завершить задание</button>
        <button class="button" onclick="show_popup('add-report-popup')">Добавить отчет</button>
        {% else %}
        {% if expired and not end %}
        <button class="button delete-button" style="width: 100%;">Завершить задание</button>
        {% endif %}
        {% endif %}
        <a href='/delivery_bot/user/'>
        <button class="button" style="width: 100%; height: 100%;">Назад</button>
        </a>
    </div>

    <div id="map" class="map" style="width: 98%; height: 400px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <button class="button" id="btn-report">Посмотреть отчет</button>
    </div>

    <div id="reports">
    </div>

    <div class="popup-blur" id="add-report-popup">
        <div class="popup-block">
            <div class="popup-status-bar">
                <div class="navigation" style="width: 40px;">
                    <p>Добавить отчет</p>
                    <button class="button" id="close" onclick="hide_popup('add-report-popup')">x</button>
                </div>
                <hr>
                <p>Ваш тэг<br><b><span id="tag_day" style="font-size: 22px;margin: 10px;"></span></b><br>
                    Его нужно написать на листочке и на всех отчетах должно быть отчетливо видно тэг.</p>
                <p>На фотографиях и видео должна быть отчетливо видны все листовки.</p>
                <div class="text-info-user" >
                    <div class="text-info-container">
                        <div class="name-property">Тип отчета</div>
                        <div class="value-property">
                            <select id="type-report"></select>
                        </div>
                    </div>
                    <div class="text-info-container">
                        <div class="name-property">Фото</div>
                        <div class="value-property">
                            <input type="file" id="photo-report" multiple accept="image/*" maxsize="" required style="width: 200px">
                        </div>
                    </div>
                    <div class="text-info-container">
                        <div class="name-property">Видео</div>
                        <div class="value-property">
                            <input type="file" id="video-report" accept="video/*" required style="width: 200px">
                        </div>
                    </div>
                </div>

                <button type="button" class="button" onclick="get_location_save_report();" style="margin-bottom: 10px;">Отправить</button>
            </div>
        </div>
    </div>

    <div class="popup-blur" id="location-popup">
        <div class="popup-block">
            <div class="popup-status-bar">
                <div class="navigation">
                    <p>Разрешите доступ к геолокации</p>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-blur" id="report-popup">
        <div class="popup-block">
{#            <div class="close-popup" onclick="hide_popup('report-popup')">x</div>#}
            <div class="popup-status-bar">
                <div class="navigation">
                    <button class="button" onclick="change_report(this.name)" id="prev-report-button"><</button>
                    <p id="report-name"></p>
                    <button class="button" onclick="change_report(this.name)" id="next-report-button">></button>
                </div>

                <button class="button" id="close" onclick="hide_popup('report-popup')">x</button>
            </div>

            <hr>
            {% if not expired and not end %}
                <button style="margin-bottom: 15px; margin-top: -5px;" class="button delete-button" name="0" id='delete_report' onclick="delete_report(this.name)">Удалить</button>
            {% else %}
                <div id="delete_report" style="display: none;"></div>
            {% endif %}

            <p>Тэг<br><b><span id="tag_report" style="font-size: 22px;margin: 10px;"></span></b><br></p>
            <div id="media">

            </div>
            <p></p>
        </div>
    </div>
</body>
<script>
    var coll = document.getElementsByClassName("collapsible_menu");
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.display === "block" || content.style.display === "grid") {
                content.style.display = "none";
            } else {
                if (content.className.search('report') != -1) content.style.display = 'grid';
                else content.style.display = "block";
            }
        });
    }
    report_block();
    get_costs_types();
    get_tag_day();

        var touchstartX = 0;
    var touchstartY = 0;
    var touchendX = 0;
    var touchendY = 0;

    var gestureZone = document.getElementById('report-popup');

    gestureZone.addEventListener('touchstart', function(event) {
        touchstartX = event.changedTouches[0].screenX;
        touchstartY = event.changedTouches[0].screenY;
    }, false);

    gestureZone.addEventListener('touchend', function(event) {
        touchendX = event.changedTouches[0].screenX;
        touchendY = event.changedTouches[0].screenY;
        handleGesture();
    }, false);


    function handleGesture() {
        var swiped = 'swiped: ';
        if (touchendX + 100 < touchstartX) {
            document.getElementById('next-report-button').dispatchEvent(new Event('click'))
        }
        if (touchendX - 100 > touchstartX) {
             document.getElementById('prev-report-button').dispatchEvent(new Event('click'))
        }
    }
</script>
</html>