body {
  font-family: var(--default-font);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--block-bg-color);
  color: var(--tg-theme-button-text-color);
  /*color-scheme: var(--tg-color-scheme);*/
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapsible_menu,
.collapsible {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  vertical-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content_menu {
/*         padding: 18px 0px; */
  display: none;
  width: 100%;
  margin: 0px 18px;
  overflow: hidden;
  background-color: var(--tg-theme-secondary-bg-color);
}

.link_user:visited,
.link_user:not(:visited),
.link_user {
  color: var(--tg-theme-link-color);
  text-decoration: underline;
}

.hint{
   color: var(--tg-theme-hint-color);
}

input[type="checkbox"] + label {
  color: var(--tg-theme-text-color);
}

a:not(:visited),
a:visited {
  text-decoration: none;
}

.button{
  display: block;
  border: 5px solid var(--tg-theme-button-color);
  border-radius: 10px;
  background: var(--tg-theme-button-color);
  margin: 5px 2.5px;
  text-decoration: none;
  color: var(--tg-theme-button-text-color);
  size: 18px;
  width: 100%;
}

.button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.delete-button {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.ext-button {
  background-color: #f1c40f;
  border-color: #f1c40f;
}

.button:not(:last-child){
   margin-bottom: 5px
}

.div-buttons {
  text-align: center;

  /*max-width: 80%;*/
  color: var(--tg-theme-text-color);

  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%)*/
}

#usercard{
  text-align: center;
  width: 95%;
  color: var(--tg-theme-text-color);
}

.text-info-user {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  width: 90%;
  border-radius: 1em;
  margin: 10px 0;
}

.text-info-container{
  display: flex;
  position: relative;
  padding: 5px 10px;
}

div.name-property {
  display: inline-block;
  float: left;
  width: 100%;
  margin-right: -100%;
}

div.value-property {
  display: inline-block;
  float: right;
  width: 100%;
  margin-right: -100%;
  text-align: right;
}



/* Style the collapsible content. Note: hidden by default */
.content_menu {
  padding: 18px 0px;
  display: none;
  width: 100%;
  margin: 0px 18px;
  overflow: hidden;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}

.menu_button {
  text-decoration: none;
  margin: 20px;

  color: var(--tg-theme-text-color);
}

.grid-item-btn-proof{
  grid-area: proof;
}

.grid-item-btn-download{
  grid-area: download;
}

.grid-item-btn-retry{
  grid-area: retry;
}

.grid-item-btn-reject{
  grid-area: reject;
}

.buttons-grid-wait {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "proof proof"
                       "download retry"
                       "reject reject";
}

.buttons-grid-done {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "download download"
                       "reject reject";
}

.buttons-grid-rejected {
  width: 100%;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "proof proof"
                       "download retry";
}

.button-add-user-mission {
  grid-area: add;
}

.button-delete-user-mission {
  grid-area: delete;
}

.button-change-user-mission {
  grid-area: change;
}

.button-kick-user-mission {
  grid-area: kick;
}

.buttons-grid-user {
  width: 100%;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "add delete"
                       "change change"
                       "kick kick";
}

#reports {
  display: table;
  width: 100%;
}

.report-grid-photo {
  object-fit: cover;
  width: 33.3%;
  max-height: 100%;
}

.report-grid {
  display: none;
  /*background-color: var(--tg-theme-secondary-bg-color);*/
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  /*grid-template-areas: ". . .";*/
}

.map {
  height: 500px;
}

.route-name {
  border: var(--tg-theme-button-color) 2px;
  border-style: dotted;
  border-radius: 10px;
}

hr {
  color: var(--tg-theme-secondary-bg-color);
  width: 95%;
  margin-bottom: 20px;
}

.popup-block {
  z-index: 99999999;
  border: var(--tg-theme-secondary-bg-color) solid;
  background-color: var(--tg-theme-secondary-bg-color);
  width: 90%;
  height: auto;
  text-align: center;
  border-radius: 1.5em;
  position: absolute;
  color: var(--tg-theme-text-color);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.popup-blur {
  z-index: 9999;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  display: none;
}

.close-popup {
  z-index: 9999999999999;
  font-size: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  left:0;
  right:0;

  margin-left: 90%;
  margin: 90%;
  margin-top: 10px;

  border: var(--tg-theme-button-color, #FFFFFF) solid;
  border-radius: 1em;
  background-color: var(--tg-theme-button-color);
}

.loading-icon {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  transform: scale(0);
  visibility: hidden;
  opacity: 0.2;
  transform-origin: 50%;
  transition: all var(--animation);
}
body.loading .loading-icon {
  transition-delay: .4s;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
.loading-icon-circle {
  stroke: #fff;
  stroke-width: 2.25px;
  stroke-linecap: round;
  fill: transparent;
  transform: rotateZ(-90deg);
  transform-origin: 50%;
  animation: rotate-circle linear 1.5s infinite, resize-circle linear 360s infinite;
  stroke-dasharray: calc(var(--radius) * 6.28);
  r: var(--radius);
  --radius: 9px;
}
