<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="../static/js/mission_info.js"></script>
    <script src="../static/js/collapsive.js"></script>
    <script src="../static/js/popup-actions.js"></script>
    <link rel="stylesheet" type= "text/css" href="../static/css/main.css">

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <style>
      .ol-popup {
        position: absolute;
        background-color: var(--tg-theme-secondary-bg-color);
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--tg-theme-secondary-bg-color);
        bottom: 12px;
        left: -50px;
        min-width: 150px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: var(--tg-theme-secondary-bg-color);
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: var(--tg-theme-secondary-bg-color);
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      #popup-content {
          color: var(--tg-theme-text-color);
      }

    </style>
</head>

<body onload="init_map()">
    <button type="button" class="collapsible_menu"><b>Меню</b></button>
    <div class="content_menu">
      <div class="div-menu-button"><a class="menu_button" type="button" href='/'><b>Задания</b></a></div>
      <div class="div-menu-button"><a class="menu_button" href='/routes'>Маршруты</a></div>
      <div class="div-menu-button"><a class="menu_button" href='/users'>Пользователи</a></div>
      <div class="div-menu-button"><a class="menu_button" href='/settings'>Настройки</a></div>
    </div>
    <div class="text-info-user">
        <div class="text-info-container">
            <div class="name-property">Исполнитель</div>
            <div class="value-property">
                <b><a class="link_user" id='user-id' name="{{ user_id }}" href='https://t.me/{{ user }}'>@{{ user }}</a></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Задание</div>
            <div class="value-property">
                <b>{{ name_mission }}</b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Вознаграждение</div>
            <div class="value-property">
                <b>{{ reward }}</b> руб.
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Количество отчетов</div>
            <div class="value-property">
                <b>{{ count }}</b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Время окончания</div>
            <div class="value-property">
                <b>{{ time }}</b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Статус</div>
            <div class="value-property">
                <b>{{ status }}</b>
            </div>
        </div>
    </div>
    <hr>
   <div id="div_buttons">
        {% if not proof and not rejected %}
            <div class="buttons-grid-wait">
             <button class='button grid-item-btn-proof' id='to_proof' onclick='manage_mission(this)'>Перевести в выполненные</button>
             <button class='button grid-item-btn-download' onclick='download_report("/download/report/{{ uuid }}");'>Скачать отчет(zip)</button>
             <button class='button grid-item-btn-retry' id='retry_rep' onclick='manage_mission(this)'>На доработку(+1 день)</button>
             <button class='button grid-item-btn-reject' id='reject' onclick='manage_mission(this)'>Забраковать</button>
            </div>
        {% else %}
        {% if proof and not rejected %}
            <div class="buttons-grid-done">
            <button class='button grid-item-btn-download' onclick='download_report("/download/report/{{ uuid }}");'>Скачать отчет(zip)</button>
            <button class='button grid-item-btn-reject' id='reject' onclick='manage_mission(this)'>Забраковать(⚠️)</button>
            </div>
        {% else %}
        {% if rejected %}
            <div class="buttons-grid-rejected">
            <button class='button grid-item-btn-proof' id='to_proof' onclick='manage_mission(this)'>Перевести в выполненные</button>
            <button class='button grid-item-btn-download' onclick='download_report("/download/report/{{ uuid }}");'>Скачать отчет(zip)</button>
            <button class='button grid-item-btn-retry' id='retry_rep' onclick='manage_mission(this)'>На доработку(+1 день)</button>
            </div>
        {% endif %}
        {% endif %}
        {% endif %}

    </div>
    <p>
        <a href='/'>
        <button class='button'>Назад</button>
        </a>
    </p>

    <div id="map" class="map" style="width: 98%; height: 400px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <button class="button" id="btn-report">Посмотреть отчет</button>
    </div>

    <div class="popup-blur" id="report-popup">
        <div class="popup-block" id="animation-popup">
{#            <div class="close-popup" onclick="hide_popup('report-popup')">x</div>#}
            <div class="popup-status-bar">
                <div class="navigation">
                    <button class="button" onclick="change_report(this.name)" id="prev-report-button"><</button>
                    <p id="report-name"></p>
                    <button class="button" onclick="change_report(this.name)" id="next-report-button">></button>
                </div>

                <button class="button" id="close" onclick="hide_popup('report-popup')">x</button>
            </div>

            <hr>
            <button style="margin-bottom: 15px; margin-top: -5px;" class="button delete-button" name="0" id='delete_report' onclick="delete_report(this.name)">Удалить</button>
            <div id="media">

            </div>
            <p></p>
        </div>
    </div>

    <hr>
    <div id="reports">

    </div>

    <div class="popup-blur" id="edit-mission-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('edit-mission-popup')">x</div>
            <p>Изменить задание</p>
            <hr>
            <div class="text-info-container">
                <div class="name-property">Исполнитель</div>
                <div class="value-property"><select id="select-user"></select></div>
            </div>
            <div class="text-info-container">
                <div class="name-property">Название задания</div>
                <div class="value-property">
                    <input id="name-mission" type="text" value="{{ name_mission }}" placeholder="{{ name_mission }}" required></div>
            </div>
            <div class="text-info-container">
                <div class="name-property">Вознаграждение</div>
                <div class="value-property">
                    <input id="reward" type="number" value="{{ reward }}" inputmode="decimal" required></div>
            </div>
            <div class="text-info-container">
                <div class="name-property">Кол-во домов</div>
                <div class="value-property">
                    <input id="count-reports" type="number" value="{{ all_count }}" inputmode="decimal" readonly></div>
            </div>
            <div class="text-info-container">
                <div class="name-property">Время окончания</div>
                <div class="value-property">
                    <input id="time" type="datetime-local" value="{{ time }}" required></div>
            </div>
            <p><button class='button' onclick="change_mission()">Сохранить</button></p>
        </div>
    </div>

    <button class='button ext-button' onclick='show_popup("edit-mission-popup")'>Изменить</button>
    <button class='button delete-button' onclick='confirm_delete_mission()'>Удалить</button>
    <p class="hint">Админ панель бота</p> <!--Просто текст-подсказка для проверки-->
</body>
<script>
    var coll = document.getElementsByClassName("collapsible_menu");
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.display === "block" || content.style.display === "grid") {
                content.style.display = "none";
            } else {
                if (content.className.search('report') != -1) content.style.display = 'grid';
                else content.style.display = "block";
            }
        });
    }
    get_users('{{ user }}');
    report_block();

    var touchstartX = 0;
    var touchstartY = 0;
    var touchendX = 0;
    var touchendY = 0;

    var gestureZone = document.getElementById('report-popup');

    gestureZone.addEventListener('touchstart', function(event) {
        touchstartX = event.changedTouches[0].screenX;
        touchstartY = event.changedTouches[0].screenY;
    }, false);

    gestureZone.addEventListener('touchend', function(event) {
        touchendX = event.changedTouches[0].screenX;
        touchendY = event.changedTouches[0].screenY;
        handleGesture();
    }, false);


    function handleGesture() {
        var swiped = 'swiped: ';
        if (touchendX < touchstartX) {
            document.getElementById('next-report-button').dispatchEvent(new Event('click'))
        }
        if (touchendX > touchstartX) {
             document.getElementById('prev-report-button').dispatchEvent(new Event('click'))
        }
    }
</script>
</html>