<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="../static/js/routes.js"></script>
    <script src="../static/js/collapsive.js"></script>
    <link rel="stylesheet" type= "text/css" href="../static/css/main.css">
</head>
<body>
    <button type="button" class="collapsible"><b>Меню</b></button>
    <div class="content_menu">
        <a class="menu_button" type="button" href='/'>Задания</a>
        <a class="menu_button" href='/routes'><b>Маршруты</b></a>
        <a class="menu_button" href='/users'>Пользователи</a>
    </div>

    <div id="routes" class="div-buttons">

    </div>

    <div class="blur" id="route-add-popup" onclick="">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup()">x</div>
            <p>Добавить маршрут</p>
            <hr>
            <p>Выберите GEOJSON файл сгенерированный на сайте <a class="link_user" href="https://yandex.ru/map-constructor">конструктора яндекс карт</a></p>
            <input type="file" type='file' accept=".geojson" id="file-route" required>

            <p>Вставьте ссылку на карту</p>
            <input placeholder="yandex.ru/maps/" type="text" id="link-map" required>
            <p>Название маршрута</p>
            <input placeholder="название" type="text" id="name-route" required>
            <p>Фото маршрута(скасать с конструктора(распечатать -> скачать))</p>
            <input type="file" id="photo" multiple accept="image/*" required>

            <p>
            <button class='button' onclick="save_route()">Сохранить</button>
            </p>
        </div>
    </div>

    <p>
        <a>
        <button class='button' onclick="show_popup()">Добавить маршрут</button>
        </a>
        <a href='/'>
        <button class='button'>Назад</button>
        </a>
    </p>

    <p class="hint">Админ панель бота</p>
</body>

<script>
    get_routes();
    add_coll_listener();
</script>
</html>