<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="/delivery_bot/static/js/collapsive.js"></script>
    <script src="/delivery_bot/static/js/settings.js"></script>
    <script src="/delivery_bot/static/js/popup-actions.js"></script>
    <link rel="stylesheet" href="/delivery_bot/static/css/main.css">
</head>
<body>
    <button type="button" class="collapsible"><b>Меню</b></button>
    <div class="content_menu">
      <div class="div-menu-button"><a class="menu_button" type="button" href='/delivery_bot/'>Задания</a></div>
      <div class="div-menu-button"><a class="menu_button" href='/delivery_bot/routes'>Маршруты</a></div>
      <div class="div-menu-button"><a class="menu_button" href='/delivery_bot/users'>Пользователи</a></div>
      <div class="div-menu-button"><a class="menu_button" href='/delivery_bot/settings'><b>Настройки</b></a></div>
    </div>
    <div style="width: 95%">
        <button class="button" onclick="create_link()">Создать код приглашения</button>
        <button class="button" onclick="show_popup('cost-report-popup')">Изменить стоимость репортов</button>
        <p></p>
        <button class="button ext-button" onclick="show_popup('user-permissions-popup')">Изменить полномочия пользователей</button>
        <button class="button ext-button" onclick="download_db()">Скачать базу данных</button>
    </div>

    <div class="popup-blur" id="cost-report-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('cost-report-popup')">x</div>
            <p>Стоимость отчетов</p>
            <hr>
            <div class="text-info-user" id="reports-costs"></div>
            <button class="button" onclick="save_report_costs(); hide_popup('cost-report-popup');">Сохранить</button>
            <p></p>
        </div>
    </div>

    <div class="popup-blur" id="user-permissions-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('user-permissions-popup')">x</div>
            <p>Права доступа пользователей</p>
            <hr>
            <div class="text-info-user" id="user-permissions"></div>
            <p></p>
        </div>
    </div>

    <div id="usercard">

   </div>
</body>
<script>
    add_coll_listener();
    get_report_costs();
    get_user_permissions();

    let tg = window.Telegram.WebApp;

    let usercard = document.getElementById("usercard"); //получаем блок usercard
    let profName = document.createElement('p'); //создаем параграф
    profName.innerText = `${tg.initDataUnsafe.user.first_name}`;
    profName.id = 'username';

    let id_user = document.createElement('p');
    id_user.innerText = `${tg.initDataUnsafe.user.id}`
    id_user.id = 'user_id';

    usercard.appendChild(profName); //добавляем
    usercard.appendChild(id_user); //добавляем
</script>
</html>