<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="../static/js/collapsive.js"></script>
    <script src="../static/js/users.js"></script>
    <link rel="stylesheet" type= "text/css" href="../static/css/main.css">
</head>
<body>
    <button type="button" class="collapsible"><b>Меню</b></button>
    <div class="content_menu">
      <a class="menu_button" type="button" href='/'>Задания</a>
      <a class="menu_button" href='/routes'>Маршруты</a>
      <a class="menu_button" href='/users'><b>Пользователи</b></a>
    </div>

    <div id='users' class="div-buttons">

    </div>

    <p>
        <a href='/'>
        <button class='button'>Назад</button>
        </a>
    </p>

    <p class="hint">Админ панель бота</p>
</body>
<script>
    add_coll_listener()
    users()
</script>
</html>