<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="../static/js/collapsive.js"></script>
    <script src="../static/js/users.js"></script>
    <script src="../static/js/user.js"></script>
    <script src="../static/js/popup-actions.js"></script>
    <link rel="stylesheet" type= "text/css" href="../static/css/main.css">
</head>
<body>
    <button type="button" class="collapsible"><b>Меню</b></button>
    <div class="content_menu">
      <a class="menu_button" type="button" href='/'>Задания</a>
      <a class="menu_button" href='/routes'>Маршруты</a>
      <a class="menu_button" href='/users'><b>Пользователи</b></a>
    </div>

    <div class="text-info-user">
        <div class="text-info-container">
            <div class="name-property">Пользователь</div>
            <div class="value-property">
                <b><a class="link_user" href='https://t.me/{{ user }}'>@{{ user }}</a></b>
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Баланс</div>
            <div class="value-property">
                <b><u>{{ balance }}</u></b> руб.
            </div>
        </div>
        <div class="text-info-container">
            <div class="name-property">Не подтвержденный баланс</div>
            <div class="value-property">
                {{ not_pass_balance }} руб.
            </div>
        </div>
        <hr>
        <div class="text-info-container">
            <div class="name-property">Текущие задания</div>
            <ul id="missions">

            </ul>
        </div>
    </div>

    <div class="popup-blur" id="change-balance-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('change-balance-popup')">x</div>
            <p>Изменить баланс</p>
            <hr>
            <p>Баланс в рублях</p>
            <input id="balance" type="number" required placeholder="{{ balance }}" value="{{ balance }}">
            <p><button class='button' onclick="change_balance(document.getElementById('balance'))">Сохранить</button></p>
        </div>
    </div>

    <div class="popup-blur" id="add-mission-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('add-mission-popup')">x</div>
            <p>Добавить задание</p>
            <hr>
            <p>Выберите маршрут</p>
            <select id="select-route"></select>
            <p>Название задания</p>
            <input id="name-mission" type="text" placeholder="Тестовое задание" required>
            <p>Сколько дней на выполнение задания(начиная со следующего дня)</p>
            <input id="days-expired" type="number" value="10" required>
            <p>Вознаграждение</p>
            <input id="reward" type="number" value="1000" required>
            <p>Кол-во отчетов</p>
            <input id="count-reports" type="number" value="20" required>
            <p><button class='button' onclick="add_mission()">Добавить</button></p>
        </div>
    </div>

    <div class="popup-blur" id="remove-mission-popup">
        <div class="popup-block">
            <div class="close-popup" onclick="hide_popup('remove-mission-popup')">x</div>
            <p>Удалить задание</p>
            <hr>
            <p>Выберите задание</p>
            <div class="div-buttons menu_button" id="remove-missions">

            </div>
        </div>
    </div>

    <div id="div_buttons">
        <div class="buttons-grid-user">
             <button class='button button-add-user-mission' id='add_mission' onclick='show_popup("add-mission-popup")'>Добавить задание</button>
             <button class='button button-delete-user-mission' id='delete_mission' onclick='show_popup("remove-mission-popup")'>Удалить задание</button>
             <button class='button button-change-user-mission' id='change_balance' onclick='show_popup("change-balance-popup")'>Изменить баланс</button>
             <button class='button button-kick-user-mission delete-button' id='kick' onclick='kick_user_confirm()'>Исключить</button>
        </div>
    </div>
    <p>
        <a href='/users'>
        <button class='button'>Назад</button>
        </a>
    </p>

</body>
<script>
    add_coll_listener()
    get_missions()
    get_routes()
</script>
</html>