<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Delivery Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!--Подключаем скрипт от телеграм-->
    <script src="/delivery_bot/moder/static/js/collapsive.js"></script>
    <link rel="stylesheet" href="/delivery_bot/moder/static/css/main.css">
</head>

<body>
   <button type="button" class="collapsible"><b>Меню</b></button>
   <div class="content_menu">
      <div class="div-menu-button"><a class="menu_button" type="button" href='/delivery_bot/'><b>Задания</b></a></div>
   </div>
   <div>
      <input type="checkbox" id="all" class="checkbox">
      <label for="all">Отображать все задания</label>
    </div>
   <div id="main" class="div-buttons">
      
   </div>
   <div id="usercard">
      
   </div>
   <p class="hint">
      ✅ - Выполнено<br>
      ⚠️ - Ожидает подтверждения<br>
      ❌️ - Забраковано<br>
      🟢 Не выполнено<br>
   </p>
   <p class="hint">Панель администрирования бота</p> <!--Просто текст-подсказка для проверки-->
</body>
<script>
    // TODO: сделат фильтр по заданиям

   var xmlhttp = new XMLHttpRequest(); // Создаём объект XMLHTTP
   xmlhttp.open('GET', '/delivery_bot/moder/validate', true); // Открываем асинхронное соединение
   xmlhttp.setRequestHeader('Content-Type', 'application/json'); // Отправляем кодировку
   xmlhttp.send(); // Отправляем POST-запрос
   xmlhttp.onreadystatechange = function() { // Ждём ответа от сервера
   if (xmlhttp.readyState == 4) { // Ответ пришёл
     if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
       if(this.responseText == '0') location.replace('/delivery_bot/unauthorized');
     }
   }
   };


   let tg = window.parent.window.Telegram.WebApp; //получаем объект webapp телеграма

   tg.expand(); //расширяем на все окно
    window.parent.window.Telegram.WebApp.enableClosingConfirmation()

    function get_missions(all) {
    var xmlhttp = new XMLHttpRequest(); // Создаём объект XMLHTTP
    xmlhttp.open('GET', '/delivery_bot/moder/get_missions' + (all == true ? '?all=1' : ''), true); // Открываем асинхронное соединение
    xmlhttp.setRequestHeader('Content-Type', 'application/json'); // Отправляем кодировку
    xmlhttp.send(); // Отправляем POST-запрос
    xmlhttp.onreadystatechange = function() { // Ждём ответа от сервера
        if (xmlhttp.readyState == 4) { // Ответ пришёл
            if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                json = JSON.parse(this.responseText);
                missions = document.getElementById("main");

                for (var i = 0; i < json.length; i++) {
                    item = document.createElement('a');
                    item.href = `/delivery_bot/moder/mission/${json[i][0]}`;
                    item.innerText = json[i][1];
                    item.className = 'button'
                    missions.appendChild(item);
                }
            }
            else if (xmlhttp.status == 401) location.replace('/delivery_bot/unauthorized');
        }};
    }

   get_missions();
   
   let allCheckbox = document.getElementById("all"); //получаем кнопку активировать/деактивировать
   allCheckbox.addEventListener('change', function(){ //вешаем событие на нажатие html-кнопки
      document.getElementById("main").innerHTML = '';
      get_missions(allCheckbox.checked);
   });

   let usercard = document.getElementById("usercard"); //получаем блок usercard
   let profName = document.createElement('p'); //создаем параграф
   profName.innerText = `${tg.initDataUnsafe.user.first_name}
   ${tg.initDataUnsafe.user.username}`;
   //выдем имя, "фамилию", через тире username и код языка
   usercard.appendChild(profName); //добавляем

   add_coll_listener()
</script>
</html>